name: ts3-checker-rs test CI

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: Fix missing packages
        run: sudo apt install --fix-missing

      - name: Install aarch64 cross-compiler
        run: sudo apt install gcc-aarch64-linux-gnu -y

      - name: Install x86_64 rustup target
        run: rustup target add x86_64-unknown-linux-gnu

      - name: Install aarch64 rustup target
        run: rustup target add aarch64-unknown-linux-gnu

      - name: Build project for x86_64
        run: cargo build --release --target=x86_64-unknown-linux-gnu

      - name: Build project for aarch64
        run: cargo build --release --target=aarch64-unknown-linux-gnu